.group-entry-container {
  padding: 0;
}

.group-entry-container__name-area {
  min-width: 250px;
  height: 35px;
}

.group-entry-container__delete-button-area {
  min-width: 40px;
  max-width: 40px;
}

.group-entry-container__rename-button-area {
  min-width: 80px;
  max-width: 80px;
}

.group-entry-container__name {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.input-group {
  margin: 0 !important;
}

.form-control {
  padding: 0;
  height: 35px;
}

.btn {
  height: 35px;
}
