.group-list-container {
  border-right: 3px solid #adb2b7;
  background-color: #adb2b7;
  min-height: 100vh;
  padding: 40px;
  min-width: 500px;
  max-width: 500px;
}

.group-list-container__add-button {
  width: 100%;
  margin-bottom: 8px;
}

.group-list-container__input {
  margin-bottom: 8px;
}
