.todo-entry-container {
  width: 758.8px;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.todo-entry-container__wrapper {
  width: 100%;
}

.todo-entry-container__check-box-area,
.todo-entry-container__content-area,
.todo-entry-container__delete-button-area {
  position: relative;
}

.todo-entry-container__check-box-area {
  max-width: 50px;
}

.todo-entry-container__content-area {
  max-width: 500px;
  height: 50px;
}

.todo-entry-container__delete-button-area {
  max-width: 50px;
}

.todo-entry-container__check-box,
.todo-entry-container__content,
.todo-entry-container__delete-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.todo-entry-container__content {
  width: 100%;
}

.todo-entry-container__content:hover {
  text-decoration: underline;
}

.todo-entry-container__completed-content-area {
  max-width: 500px;
}

.todo-entry-container__completed-content {
  color: gray;
  text-decoration-color: gray;
  text-decoration: line-through;
}

.todo-entry-container__form-control {
  max-width: 500px;
  padding: 0;
  margin-left: 50px;
}
