/* app */
.app-container {
  border: 3px solid black;
  padding: 0;
}

/* group-list */
.group-list-container {
  border: 3px solid red;
  height: 100vh;
  width: 100%;
}

.group-list-container__wrapper {
  border: 3px solid goldenrod;
  background-color: lemonchiffon;
  margin: 0;
}

.group-list-container__add-button {
  border: 3px dotted darkorchid;
  width: 100%;
}

.group-list-container__group-name-input {
  border: 3px dotted orchid;
  width: 100%;
}

.group-list-container__list {
  border: 3px dotted lightseagreen;
  margin-bottom: 0;
  width: 100%;
}

/* todo-list */
.todo-list-container {
  border: 3px solid blue;
  height: 100vh;
}
